@model IEnumerable<MyWebApplication.Models.Book>
@{
    ViewBag.Title = "AjaxContent";
}

<h2>AjaxContent</h2>

<div>
    <h3>Распродажа книг</h3>
    <p><a href="/Home/Create">Добавить книгу</a></p>
    <table>
        <tr class="header">
            <td><p>Название книги</p></td>
            <td><p>Автор</p></td>
            <td><p>Цена</p></td>
            <td></td>
        </tr> 
        @foreach(MyWebApplication.Models.Book b in Model)
            {
            <tr>
                <td><p>@b.Name</p></td>
                <td><p>@b.Author</p></td>
                <td><p>@b.Price</p></td>
                <td><p><a href="/Home/BookView/@b.Id">Купить</a></p></td>
                <td><p><a href="/Home/EditBook/@b.Id">Редактировать</a></p></td>
                <td><p><a href="/Home/Delete/@b.Id">Удалить</a></p></td>
            </tr>
        }
    </table>
</div>